    <a style="float:right" href="/logout" class="btn btn-light btn-sm" >Log out</a>
<h3>Edits?</h3>
<i><font size="2"> Please do not leave any field blank. If you do not know yet, enter "TBD".</font></i> <br> <br>
<form action="/completions/<%= @completion.id %>" method="post">
       <input type="hidden" name="_method" value="patch">
       City: <input type="text" name="city" value = "<%= @completion.city%>" ><br>
       Country: <input type="text" name="country" value= "<%= @completion.country %>" ><br>
       What You Did: <input type="text" name="tourist_attraction" value= "<%= @completion.tourist_attraction %>" ><br>
       Date Visited: <input type="text" name="date_visited" value= "<%= @completion.date_visited %>" ><br><br>
       <input type="submit" class="btn btn-primary" value="Confirm Edit">
    </form>
<br>
    <form>
      <input type="button" class="btn btn-primary" value="Go Back" onclick="history.back()">
    </form>
