<h1>Here are the Details of this Trip: </h1>

City: <%=@completion.city%><br>
Country: <%=@completion.country%><br>
What You Did: <%=@completion.tourist_attraction%><br>
Date Visited: <%=@completion.date_visited%>
<br>
<br>

<p><a href="/joint_index">Back to home</a></p>
<p><a href="/completions/<%=@completion.id%>/edit">Edit</a></p>
<p><a href="/completions/<%=@completion.id%>/delete">Delete</a></p>
