    <a style="float:right" href="/logout" class="btn btn-light btn-sm" >Log out</a>

<h1>Here are the Details of this Trip: </h1>

City: <%=@completion.city%><br>
Country: <%=@completion.country%><br>
What You Did: <%=@completion.tourist_attraction%><br>
Date Visited: <%=@completion.date_visited%>
<br>
<br>
<br>

<div class="btn-group-justified">
    <a href="/completions/new" class="btn btn-primary">Add Another</a>
    <a href="/completions/<%=@completion.id%>/edit" class="btn btn-primary">Edit</a>
    <a href="/completions/<%=@completion.id%>/delete" class="btn btn-primary">Delete</a>
    <a href="/joint_index" class="btn btn-primary ">Home</a>
</div>
