
<h1>Here are the Details of your Future Trip: </h1>

City: <%=@goal.city%><br>
Country: <%=@goal.country%><br>
What You Want To Do: <%=@goal.tourist_attraction%><br>

<br>
<br>

<p><a href="/joint_index">Back to home</a></p>
<p><a href="/goals/<%=@goal.id%>/edit">Edit</a></p>
<p><a href="/goals/<%=@goal.id%>/delete">Delete</a></p>
<p><a href="/goals/<%=@goal.id%>/move">Move to Visited Trips </a></p>
