<h1>Welcome <%= @user.name %>! </h1>

<h3>Click  <a href='/locations/new'>here</a> to add a past trip</h3>
<h3>Click  <a href='/goals/new'>here</a> to add to your bucket list</h3>

<h3>Here are countries that you have visited:</h3>
<% @locations.each do |location| %>
  <p>City: <%= location.city %><br>
  Country: <%= location.country %><br>
  What You Did: <%= location.tourist_attraction %><br>
  Date Visited: <%= location.date_visited %><br>
  <a href="/locations/<%=location.id%>">Click to Visit This Trip</a></p>
<% end %>

<h3>Here are the countries you want to visit: </h3>


<form action='/logout' method="post">
  <input type="submit" value="Log Out">
</form>
