<h1>Welcome <%= @user.name %>! </h1>

<h3>Click  <a href='/locations/new'>here</a> to add a past trip</h3>
<h3>Click  <a href='/goals/new'>here</a> to add to your bucket list</h3>

<style>
{
 box-sizing: border-box;
}
.column {
 float: left;
 width: 50%;
}
.row:after {
 content: "";
 display: table;
 clear: both;
}
</style>

<div class="row">
  <div class="column";">
    <h3>Here are countries that you have visited:</h3>
      <% @locations.each do |location| %>
        <p>City: <%= location.city %><br>
        Country: <%= location.country %><br>
        What You Did: <%= location.tourist_attraction %><br>
        Date Visited: <%= location.date_visited %><br>
        <a href="/locations/<%=location.id%>">Click to Visit This Trip</a></p>
      <% end %>
  </div>
  <div class="column">
    <h3>Here are the countries you want to visit: </h3>
      <% @goals.each do |goal| %>
        <p>City: <%= goal.city %><br>
        Country: <%= goal.country %><br>
        What You Want To Do: <%= goal.tourist_attraction %><br>
        <a href="/goals/<%=goal.id%>">Click to Visit This Trip</a></p>
      <% end %>
  </div>
  </div>

<form action='/logout' method="post">
  <input type="submit" value="Log Out">
</form>
