<h3>Edits?</h3>
<i>Please do not leave any field blank</i> <br> <br>
<form action="/locations/<%= @location.id %>" method="post">
       <input type="hidden" name="_method" value="patch">
       City: <input type="text" name="city" value = "<%= @location.city%>" ><br>
       Country: <input type="text" name="country" value= "<%= @location.country %>" ><br>
       What You Did: <input type="text" name="tourist_attraction" value= "<%= @location.tourist_attraction %>" ><br>
       Date Visited: <input type="text" name="date_visited" value= "<%= @location.date_visited %>" ><br>
       <input type="submit" value="Confirm Edit">
    </form>
