<h1>Welcome <%= @user.name %>! </h1>
Here are locations that you have visited
<% @locations.each do |location| %>
  <br>City: <%= location.city %><br>
  Country<%= location.country %><br>
  What You Did: <%= location.tourist_attraction %><br>
  Date Visited: <%= location.past_date %><br>
  <a href="/locations/<%=@location.id%>">Click to Visit This Trip</a>
<% end %>
