<h1>Here are the Details of this Trip: </h1>

City: <%=@location.city%><br>
Country: <%=@location.country%><br>
What You Did: <%=@location.tourist_attraction%><br>
Date Visited: <%=@location.date_visited%>
<br>
<br>

Edit or

<form method="post" action="/locations/<%=@location.id %>/delete">
 <input type="hidden" name="_method" value="delete">
 <input type="submit" value="Delete?">
</form>
